@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

*{
    padding: 0; 
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    --main-color: #d64d76;
    --light-main-color: #fff8fa;

    --background-color: #f3f3f3;
    --box-background-color: #ffffff;
    --text-color: #434343;
    --label-text-color: #a0a0a0;
  
    --font-title: 'Montserrat', sans-serif;
    --font-text: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-text);
    font-size: 1.8rem;
}

section{
    padding: 1.2rem 0;
}

main{
    margin: 2rem;
}

main div{
    margin: .4rem 0;
}

h2{
    color: var(--main-color);
}

h4{
    font-size: 1.8;
    color: var(--text-color);
    text-align: center;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}

p{
    padding: 1.6rem 0;
}

footer{
    text-align: center;
    padding: 2rem;
}

@media only screen and (max-width: 670px) {
    body{
        font-size: 1.2rem;
    }

    .content {
        width: 100%;
        padding: 2.8rem 2.4rem;
    }

    .book-ref, .video-label{
        font-size: .8rem;
    }

    .video-response{
        width: 100%;
    }
}

@media only screen and (min-width: 500px) and (max-width: 1024px) {
    .content {
        width: 80%;
        padding: 4rem 8rem;
        font-size: 1.4rem;
    }

    .video-response{
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .content {
        width: 80%;
        padding: 4rem 8rem;
        font-size: 1.4rem;
    }

    .video-response{
        width: 100%;
    }
}

.flex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-column-center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.flex-center-row-center{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}